<%- include ("partials/header") -%>
      <div class="container">
        <div class="row">
          <div class="leftcolumn">
            <div class="card">
              <h1>Technology Kenya</h1>
              <p> <%= tech %> </p>
              <img src="/tech.jpg" alt="Technology" class="img-responsive">
            </div>
          </div>
          <div class="rightcolumn">
            <div class="card">
              <% innovationContent.forEach((innovationContent, i) => { %>
              <h1> <%= innovationContent.title %> </h1>
              <p> <%= innovationContent.content.substring(0, 100) + " ..." %> <a href="/techposts/<%= innovationContent._id %>">..read more</a></p>
              <%  }); %>
            </div>
          </div>
        </div>
      </div>
  <%- include("partials/footer") -%>
